<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      table { /* Will apply to all tables */
        border-spacing: 0;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        border: 1;
      }
      input {
        width:100%;
        display:block;
      }
      .digit_button { display: inline-block; height: 40px; width: 40px; border: 1; background-color: #0e69f9; color: white}
    </style>

  </head>
  <body>
  <table id="calc-table">
    <thead>
      <tr>
        <td colspan=6>
          <div id="result-box">
            <% 
              s = session[:calc].stack.join ' '
              r = session[:calc].result.to_s

              if s.length > 60 
                s = "..." + s[-60..-1]
              end

              if r.length > 36 
                r = "..." + r[-36..-1]
              end
            %>

            <div id="stack">&nbsp;<%= s %></div>
            <span style="float: left;">&nbsp;<%= (session[:calc].memory != "" ? "M" : "") %></span>
            <span id="result">&nbsp;<%= r %></span>
          </div>
        </td>
      </tr> 
    </thead>
    <tbody>
      <tr>
        <td><%= button_to "MC", buttons_MC_path, :class => "digit_button" %></td>
        <td colspan=2><%= button_to buttons_Backspace_path, :class => "digit_button" do %>
          <span style="font-size: x-large;">&#8592;</span><% end %></td>
        <td><%= button_to "CE", buttons_CE_path, :class => "digit_button" %></td>
        <td colspan=2><%= button_to "C", buttons_C_path, :class => "digit_button" %></td>
      </tr>
      <tr>
        <td><%= button_to "MR", buttons_MR_path, :class => "digit_button" %></td>
        <td><%= button_to "7", buttons_Seven_path, :class => "digit_button" %></td>
        <td><%= button_to "8", buttons_Eight_path, :class => "digit_button" %></td>
        <td><%= button_to "9", buttons_Nine_path, :class => "digit_button" %></td>
        <td><%= button_to "/", buttons_Divide_path, :class => "digit_button" %></td>
        <td><%= button_to buttons_Sqrt_path, :class => "digit_button" do %>
          <span style="white-space: nowrap;">
          &radic;<span style="text-decoration:overline;">&nbsp;&nbsp;</span>
          </span>
        <% end %></td>
      </tr>
      <tr>
        <td><%= button_to "MS", buttons_MS_path, :class => "digit_button" %></td>
        <td><%= button_to "4", buttons_Four_path, :class => "digit_button" %></td>
        <td><%= button_to "5", buttons_Five_path, :class => "digit_button" %></td>
        <td><%= button_to "6", buttons_Six_path, :class => "digit_button" %></td>
        <td><%= button_to "*", buttons_Multiply_path, :class => "digit_button" %></td>
        <td><%= button_to "%", buttons_Percent_path, :class => "digit_button" %></td>
      </tr>
      <tr>
        <td><%= button_to "M+", buttons_MPlus_path, :class => "digit_button" %></td>
        <td><%= button_to "1", buttons_One_path, :class => "digit_button" %></td>
        <td><%= button_to "2", buttons_Two_path, :class => "digit_button" %></td>
        <td><%= button_to "3", buttons_Three_path, :class => "digit_button" %></td>
        <td><%= button_to "-", buttons_Subtract_path, :class => "digit_button" %></td>
        <td><%= button_to "1/x", buttons_OneOver_path, :class => "digit_button" %></td>
      </tr>
      <tr>
        <td><%= button_to "M-", buttons_MMinus_path, :class => "digit_button" %></td>
        <td><%= button_to "0", buttons_Zero_path, :class => "digit_button" %></td>
        <td><%= button_to "+/-", buttons_PlusMinus_path, :class => "digit_button" %></td>
        <td><%= button_to ".", buttons_Dot_path, :class => "digit_button" %></td>
        <td><%= button_to "+", buttons_Add_path, :class => "digit_button" %></td>
        <td><%= button_to "=", buttons_Equals_path, :class => "digit_button" %></td>
      </tr>
    </tbody>

  </table>

  <%= yield %>

  </body>
</html>
